<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages masterPageFile="~/Admin/Admin.master" maintainScrollPositionOnPostBack="true"></pages>
    <authorization>
      <allow roles="ShareOS.Admin" />
      <allow users="*" />
      <!-- 程序上传到服务器后，应该配置为
      <allow roles="ShareOS.Admin" />
        <deny users="*" />
      -->
      <!-- 程序在调试阶段，应该配置为
      <allow roles="ShareOS.Admin" />
        <allow users="*" />
      -->
    </authorization>
  </system.web>
</configuration>
