<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShareOS.SQLServerDAL.Properties.Settings.ShareOSConnectionString"
            connectionString="Data Source=VS2010\SQLExpress;Initial Catalog=ShareOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>